node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!.gitkeep
.env
.env.*
!.env.example
.git
.gitignore
.github
docker-compose*.yml
Dockerfile*
.dockerignore
docs
tests
phpunit.xml
phpunit.xml.dist
.pint.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
*.md
!README.md
